ul#playerStats {
    list-style-type: none;
    padding: 0;
    margin: 5px;
}
#spinBtn {
    width:13px;
    height:52px;
    position: absolute;
    border:1px solid red;
    border-radius:6px;
    margin:450px 0 0 318px;
}
#quitBtn {
    width:9px;
    height:48px;
    position: absolute;
    border:1px solid red;
    border-radius:6px;
    margin:452px 0 0 32px;
}
#resetBtn {
    width:9px;
    height:48px;
    position: absolute;
    border:1px solid red;
    border-radius:6px;
    margin:452px 0 0 90px;
}
#incBetBtn {
    width:8px;
    height:48px;
    position: absolute;
    border:1px solid red;
    border-radius:6px;
    margin:452px 0 0 148px;
}
#decBetBtn {
    width:8px;
    height:48px;
    position: absolute;
    border:1px solid red;
    border-radius:6px;
    margin:452px 0 0 205px;
}